 
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <h1>{{titulo}}</h1>
<div class="container">  
    <div class="col-md-12 text-center"> 
      <div class="input-group mb-3 text-center">
        <input type="text"  class="form-control" #nombrec>
      </div>     

      <button type="button" class="btn btn-primary" (click)="addcurso(nombrec.value)">Agregar curso</button>
    </div>
  </div>

<ul>
  <li *ngFor="let curso of cursos">{{curso}}</li>
</ul>

